# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=password
DB_NAME=tcc_db
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_AUTO_CREATE=true

CORS_ORIGIN=http://localhost:5173

# Configuração de concorrência dos workers
CONTRACT_WORKER_CONCURRENCY=10
PERFORMANCE_WORKER_CONCURRENCY=2
SECURITY_WORKER_CONCURRENCY=10
FULL_WORKER_CONCURRENCY=2

# Autenticação JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=8h
BCRYPT_SALT_ROUNDS=10
