# Dependências do Node
node_modules/

# Build do TypeScript
dist/
build/

# Variáveis de Ambiente
.env
.env.*
!.env.example

# Logs do NPM/Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?